@charset "UTF-8";

@media screen and (min-width: 800px){
    main>section{
        float: right;
        width: 400px;
        height: 500px;
        
        
    }
    main{
        
        width: 80vw;
        float: left;
  
    }
    #senha, #entrar{
        width: calc(100% - 450px);
    }
    #iemail, #isenha{
        width: calc(100% - 480px);
    }
}
@media screen and (min-width: 1000px){
    #senha, #entrar{
        width: calc(100% - 450px);
    }
}