@charset "UTF-8";

@media screen and (min-width: 800px){
    main>section{
        float: right;
        width: 400px;
        height: 500px;
        
        
    }
    main{
        
        width: 80vw;
        float: left;
  
    }
}