@charset "UTF-8";
html{
    height: 100vh;
}

body{
    background-color: blueviolet;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    
}
h1{
    color: azure;
}

img{
    width: 90px;
    border-radius: 50%;
    padding: 10px;
}

.flex{
    background-color: white;
    width: 90%;
    max-width: 500px;
    max-height: 400px;
    overflow-y: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.364);
    
}


.list{
    list-style-type: none;
    padding: 0;
    margin: 0%;
}
.list:hover{
    background-color: rgba(137, 43, 226, 0.142);
}

.list-item{
    display: flex;
    padding: 10px;
}
.list-iten__name{
    font-size: larger;
    font-weight: bolder;
}