@charset "UTF-8";
*{
    padding: 0%;
    margin: 0%;
}
html, body{
    height: 100vh;
    width: 100vw;
    }
main{
    height: 100vh;
    position: relative;

}
body{
    background: url(../img/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
}

section#tel{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    height: 627px;
    width: 311px;
    background: url(../img/frame-iphone.png) no-repeat


    

}
iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 263px;
    height: 469px;
}
section#redes{
    text-align: right;
    padding-top: 30px;
    padding-right: 30px;
}
section#redes img{
    width: 50px;
    margin: 8px;
    border-radius: 50%;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.364);
    box-sizing: border-box;
}
section#redes img:hover{
    border: 2px solid rgba(255, 255, 255, 0.644);
    transition: border 0.3s;
}

